body
{
	background-color:black;
	background-image:url('Images/brick_BG.png');
	background-repeat:no-repeat;
	background-position:center;
	width:99%
}
#footer li
{
	font-size:8pt;
	color:white;
	display: inline;
	padding: 0px 10px;
	text-decoration:none;
}

#game-canvas {
   border: 1.5px solid green; 
}
         
#score {
   font: 46px fantasy;
   text-align: center;
   color: green;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}
 
#fps {
   position: absolute;
   margin-top: -2em;
   z-index: 1;
   color: yellow;
   text-shadow: 1px 1px 1px rgb(0,0,80);
   font: bold 20px fantasy;
}

